.chat-header {
  padding: 2px;
  background-color: var(--background-secondary);
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.chat-messages {
  flex-grow: 1;
  padding: 16px;
  overflow-y: auto;
  background-color: var(--background-secondary);
}

.chat-user-message {
  margin-bottom: 10px;
  padding: 12px 12px;
  background-color: var(--background-primary);
  border-radius: 6px;
  user-select: text;
}

.chat-assistant-message {
  margin-bottom: 10px;
  padding: 12px 12px;
  background-color: var(--background-secondary);
  border-radius: 6px;
  user-select: text;
}

.chat-input-container {
  display: flex;
  padding: 10px;
  background-color: var(--background-primary);
  align-items: center;
  border-radius: 10px;
}

.chat-input {
  width: 100%;
  flex-grow: 1;
  padding: 5px;
  color: var(--text-normal);
  background-color: var(--background-primary);
  margin-right: 10px;
  resize: none;
  outline: 2px solid transparent;
  border: 0 none #FFF;
  overflow: hidden;
  height: auto;
  box-shadow: none;
  font-size: var(--font-size-normal);
}

.chat-input:focus {
  border: 0 none #FFF;
  outline: 2px solid transparent;
  box-shadow: none;
}

.chat-input-button {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: var(--background-secondary-alt);
  flex-shrink: 0;
  align-self: flex-end;
  padding: 5px;
}

.chat-input-button:hover {
  background-color: var(--background-secondary);
}

.chat-input-button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.new-chat-button {
  padding: 8px;
  color: var(--text-normal);
  background-color: var(--background-secondary);
  width: min-content;
  border-radius: 6px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.new-chat-button:hover {
  background: var(--background-secondary-alt);
}

.new-chat-button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.chat-assistant-controls {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}

.chat-assistant-control {
  background-color: var(--background-secondary);
  padding: 4px;
  border-radius: 6px;
  color: var(--text-normal);
  transition: all 0.2s ease;
  cursor: pointer;
}

.chat-assistant-control:hover {
  background-color: var(--background-secondary-alt);
}

.chat-assistant-control:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.tool-tip {
  position: relative;
  display: inline-block;
}

.tool-tip::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 120%;
  bottom: -80%;
  transform: translateX(-50%);
  background-color: var(--background-secondary-alt);
  color: var(--text-normal);
  padding: 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  transition-delay: 0.75s;
}

.tool-tip:hover::after {
  opacity: 1;
}

.toggle-setting {
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: space-between;
}

.chevron-icon {
  margin-left: 0.5rem;
	--icon-size: 1.2rem;
}